:root {
  --background-color: #fff;
  --text-color: #333;
  --search-bar-bg: #37c0b2;
  --search-bar-btn-bg: #ff6666;
  --search-bar-btn-text: white;
  --result-item-border: #ccc;
  --result-item-bg: #fff;
  --mood-happy-bg: #a3daff; /* 연한 하늘색 */
  --mood-good-bg: #a3ffba; /* 연한 초록색 */
  --mood-not-bad-bg: #fff8a3; /* 연한 노란색 */
  --mood-bad-bg: #d3d3d3; /* 연한 회색 */
  --mood-angry-bg: #ffb3b3; /* 연한 빨간색 */
}

/*.dark-theme {*/
/*  --background-color: #121212;*/
/*  --text-color: #ddd;*/
/*  --search-bar-bg: #333;*/
/*  --search-bar-btn-bg: #444;*/
/*  --search-bar-btn-text: #ddd;*/
/*  --result-item-border: #555;*/
/*  --result-item-bg: #222;*/
/*  --mood-happy-bg: #527a95;*/
/*  --mood-good-bg: #527a5c;*/
/*  --mood-not-bad-bg: #7a7a52;*/
/*  --mood-bad-bg: #595959;*/
/*  --mood-angry-bg: #7a5252;*/
/*}*/

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  padding-top: 60px; /* 네비게이션 바 높이만큼 패딩 추가 */
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--search-bar-bg);
  margin: 20px;
  margin-top: 20px;
}

.search-bar .left-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.search-bar .right-buttons {
  display: flex;
  align-items: center;
}

.search-bar button {
  margin-left: 10px; /* 버튼 사이 간격 추가 */
}

.search-bar input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: var(--search-bar-btn-text);
  cursor: pointer;
}

.results {
  padding: 20px;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--result-item-border);
  background-color: var(--result-item-bg);
  margin-bottom: 20px; /* 두 데이터 간의 공간을 위해 마진 추가 */
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--result-item-border);
  background-color: var(--result-item-bg);
  margin-bottom: 20px;
}

.details {
  margin-left: 10px;
  flex: 0 1 auto;
}

.content-summary {
  flex: 1; /* 중간에 위치하게 하기 위해 flex-grow를 사용 */
  margin: 0 10px; /* 좌우 간격 설정 */
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration-line: underline;
  text-underline-position: under;
  font-weight: 800;
  cursor: pointer;
}

.time {
  margin-left: 10px;
  text-align: center;
  flex: 0 1 auto;
}

.mood {
  margin-left: 10px;
}

.mood {
  display: inline-block;
  padding: 10px 20px; /* 상하 높이와 좌우 패딩을 키움 */
  border-radius: 20px; /* 모서리를 더 둥글게 */
  font-weight: bold;
  font-size: 16px; /* 글자 크기 키움 */
  color: var(--text-color); /* 텍스트 색상 */
  width: 120px; /* 고정된 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.mood-HAPPY {
  background-color: var(--mood-happy-bg);
}

.mood-GOOD {
  background-color: var(--mood-good-bg);
}

.mood-NOT_BAD {
  background-color: var(--mood-not-bad-bg);
}

.mood-BAD {
  background-color: var(--mood-bad-bg);
}

.mood-ANGRY {
  background-color: var(--mood-angry-bg);
}

.like {
  margin-left: 10px;
}

.like-btn {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px); /* 뒷 배경을 흐리게 처리 */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
}

.modal-content {
  background-color: var(--result-item-bg); /* 모달 배경색 수정 */
  padding: 30px; /* 패딩 조정 */
  border: 1px solid var(--result-item-border);
  border-radius: 20px; /* 모서리를 둥글게 */
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  text-align: center;
}

.close {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.btn-submit {
  background-color: var(--search-bar-btn-bg);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: var(--search-bar-btn-bg);
}

h2 {
  margin-top: 0;
}

textarea {
  width: 95%; /* 너비를 95%로 설정 */
  padding: 10px;
  border: 1px solid var(--result-item-border);
  border-radius: 10px;
  font-size: 16px;
  resize: none;
  display: block; /* 블록 요소로 설정하여 중앙 정렬 */
  margin: 20px auto; /* 위아래로 간격을 두고, 중앙 정렬 */
}

#modal_feel {
  font-size: 20px;
}

.nickName button {
  background-color: #f0f0f0; /* 버튼 배경색 */
  border: 1px solid #ccc; /* 버튼 테두리 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  padding: 5px 10px; /* 버튼 내부 여백 */
  font-size: 16px; /* 버튼 글자 크기 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.nickName button:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 */
}

/* 기분 필터링 조건 */
body {
  font-family: Arial, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: black;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  width: 200px; /* 너비를 200px로 조정 */
  padding-right: 40px; /* 오른쪽 패딩 추가 */
}

.dropdown-item {
  color: black;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.dropdown-item input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 10px 0 0;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: grid;
  place-content: center;
}

.dropdown-item input[type="checkbox"]:checked {
  background-color: #000;
}

.dropdown-item input[type="checkbox"]:checked::before {
  content: '✓';
  color: #fff;
}

.apply-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  color: black;
  padding: 10px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

#couple_submit_btn {
  /*margin-left: auto;*/
  color: white;
  background-color: #ee6e6e; /* 버튼 배경색 */
  border: 1px solid #ee6e6e; /* 버튼 테두리 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  font-size: 16px; /* 버튼 글자 크기 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.inviteModal {
  display: none;

}

.invite-modal-content {
  background-color: var(--result-item-bg);
  padding: 30px;
  border: 1px solid var(--result-item-border);
  border-radius: 20px;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px; /* 최대 너비 설정 */
  width: 90%; /* 화면 너비의 90% */
  margin: 0 auto; /* 가운데 정렬 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeInviteModal{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

#create-inviteLink {
  flex: 1;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
  width: 325px; /* 입력 창의 최대 너비 */
  margin-bottom: 20px;
}

#copyBtn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #2b6f1c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#copyBtn:hover {
  background-color: #0056b3;
}

#enroll-inviteLink {
  flex: 1;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
  width: 325px; /* 입력 창의 최대 너비 */
}

#enrollBtn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#enrollBtn:hover {
  background-color: #0056b3;
}

#calendar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* 가로 길이 확대 */
  padding: 60px; /* 패딩 확대 */
  border: 2px solid #ccc; /* 테두리 확대 */
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* 그림자 확대 */
  z-index: 1000; /* 모달이 다른 요소 위에 나타나도록 */
  overflow: auto;
}

.calendar-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px; /* 버튼 크기 */
  cursor: pointer;
  color: #000;
  transition: color 0.3s ease;
  margin-bottom: 30px;
}

.calendar-close-btn:hover {
  color: #ff0000; /* 호버 시 버튼 색상 변화 */
}

.hidden {
  display: none;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* 마진 확대 */
}

#calendar-days {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; /* 마진 확대 */
}

#calendar-days div {
  width: 14.28%;
  text-align: center;
  font-weight: bold;
}

#calendar-dates {
  display: flex;
  flex-wrap: wrap;
}

#calendar-dates div {
  width: 14.28%;
  text-align: center;
  padding: 10px; /* 패딩 확대 */
  box-sizing: border-box;
}

#calendar-dates .commit-day {
  color: black;
}

/* 기분 상태별 색상 */
#calendar-dates .commit-day.mood-happy {
  background-color: var(--mood-happy-bg) !important; /* 연한 하늘색 */
}

#calendar-dates .commit-day.mood-good {
  background-color: var(--mood-good-bg) !important; /* 연한 초록색 */
}

#calendar-dates .commit-day.mood-not-bad {
  background-color: var(--mood-not-bad-bg) !important; /* 연한 노란색 */
}

#calendar-dates .commit-day.mood-bad {
  background-color: var(--mood-bad-bg) !important; /* 연한 회색 */
}

#calendar-dates .commit-day.mood-angry {
  background-color: var(--mood-angry-bg) !important; /* 연한 빨간색 */
}

body.no-scroll {
  overflow: hidden; /* 스크롤 방지 */
}

#calendar-open-btn {
  background-color: #f0f0f0; /* 버튼 배경색 */
  border: 1px solid #ccc; /* 버튼 테두리 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  font-size: 16px; /* 글자 크기 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */
}

#calendar-open-btn:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 */
}

#passwordInput {
  width: calc(40%); /* Adjusting width for padding */
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#passwordModal {
  display: none;
  background-color: var(--result-item-bg); /* 모달 배경색 수정 */
  padding: 30px; /* 패딩 조정 */
  border: 1px solid var(--result-item-border);
  border-radius: 20px; /* 모서리를 둥글게 */
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  text-align: center;
  max-width: 500px; /* 최대 가로 너비를 400px로 설정 */
  margin: 0 auto;
}

#password-modal-content {
  background-color: var(--result-item-bg); /* 모달 배경색 수정 */
  padding: 30px; /* 패딩 조정 */
  border: 1px solid var(--result-item-border);
  border-radius: 20px; /* 모서리를 둥글게 */
}

.passwordModalClose {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.passwordModalClose:hover,
.passwordModalClose:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}