<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diary Search</title>
  <link rel="stylesheet" href="/css/diary-list.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <div th:replace="fragments/navbar.html :: navbarFragment"></div>

  <div class="search-bar">
    <div class="left-buttons">
      <div class="dropdown">
        <button class="dropdown-toggle" id="toggle-btn" onclick="toggleDropdown()">선택</button>
        <div class="dropdown-menu">
          <label class="dropdown-item">
            <input type="checkbox" onchange="updateLabel()" name="search-feel" value="HAPPY">
            😊행복
          </label>
          <label class="dropdown-item">
            <input type="checkbox" onchange="updateLabel()" name="search-feel" value="GOOD">
            🙂좋음
          </label>
          <label class="dropdown-item">
            <input type="checkbox" onchange="updateLabel()" name="search-feel" value="NOT_BAD">
            😐보통
          </label>
          <label class="dropdown-item">
            <input type="checkbox" onchange="updateLabel()" name="search-feel" value="BAD">
            😞나쁨
          </label>
          <label class="dropdown-item">
            <input type="checkbox" onchange="updateLabel()" name="search-feel" value="ANGRY">
            😠화남
          </label>
          <button class="apply-btn" onclick="applySelection()">적용</button>
        </div>
      </div>
      <button type="button" id="search-btn">검색</button>
    </div>
    <div class="right-buttons">
      <button type="button" id="calendar-open-btn">달력 열기</button>
      <button type="button" id="couple_submit_btn">커플 등록</button>
    </div>
  </div>


  <div class="results">
    <div class="result-item" th:each="diary : ${diaryList}" th:data-index="${diary.diaryId}">
      <div class="profile">
        <img th:if="${diary.imagePath == null}" src="/images/default_user_img.png">
        <img th:if="${diary.imagePath}" th:src="|/thumbnails/${diary.imagePath}|">
      </div>
      <div class="details nickName" th:data-index="${diary.diaryId}">
        <span th:text="${diary.nickName}">닉네임</span>
      </div>
      <div class="content-summary" th:data-index="${diary.diaryId}">
        <span th:text="${diary.aiResponseSummary}">AI 응답 요약본</span>
      </div>
      <div class="time">
        <p>
          <span class="diary-date" id="diaryDate" th:text="${diary.diaryDate}" th:data-index="${diary.diaryId}">작성 시간</span>
        </p>
      </div>
      <div class="mood" th:classappend="'mood-' + ${diary.feel}">
        <span th:if="${diary.feel.toString().equals('HAPPY')}" th:text="|😊 ${diary.feel}|">기분</span>
        <span th:if="${diary.feel.toString().equals('GOOD')}" th:text="|🙂 ${diary.feel}|">기분</span>
        <span th:if="${diary.feel.toString().equals('NOT_BAD')}" th:text="|😐 ${diary.feel}|">기분</span>
        <span th:if="${diary.feel.toString().equals('BAD')}" th:text="|😞 ${diary.feel}|">기분</span>
        <span th:if="${diary.feel.toString().equals('ANGRY')}" th:text="|😠 ${diary.feel}|">기분</span>
      </div>
      <div class="like">
        <button class="like-btn" th:data-index="${diary.diaryId}">
          <span th:if="${diary.likeStatus}">❤️</span>
          <span th:if="${diary.likeStatus == false}">🩶</span>
        </button>
      </div>
    </div>
  </div>


<!-- modal -->
  <div id="diaryModalOverlay"></div>
  <div>
    <div id="diaryDetailModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>내가 작성한 일기</h2>
        <label for="modal_content"><span id="modal_feel"></span> </label>
        <textarea rows="10" id="modal_content" name="modal_content" readonly></textarea>
        <div class="ai-response">
          <h3>AI 응답</h3>
          <textarea rows="6" id="ai_response_content" readonly>AI가 생성한 응답</textarea>
        </div>
      </div>
    </div>
  </div>


  <!-- 연인 등록 모달 -->
    <div id="inviteModal" class="inviteModal">
      <!-- 초대 링크 -->
      <div class="invite-modal-content">
        <span class="closeInviteModal">&times;</span>
        <h2>연인을 등록해보세요!</h2>
        <p>
          등록 코드를 복사하여 상대방에게 전달하세요!
          <br> 코드는 한 시간 후에 만료됩니다.
        </p>
        <input type="text" id="create-inviteLink" readonly>
        <button id="copyBtn">복사</button>

        <div class="couple-create-content">
          <p>전달받은 코드를 등록하세요!</p>
          <input type="text" id="enroll-inviteLink">
          <button id="enrollBtn">등록</button>
        </div>
      </div>
    </div>

  <div class="modalBackground"></div>
    <div id="calendar-container" class="hidden">
      <button id="close-btn" class="calendar-close-btn">&times;</button>
      <div id="calendar-header">
        <button id="prev-month-btn">&lt;</button>
        <span id="current-month"></span>
        <button id="next-month-btn">&gt;</button>
      </div>
      <div id="calendar-body">
        <div id="calendar-days">
          <!-- 요일 -->
        </div>
        <div id="calendar-dates">
          <!-- 날짜 -->
        </div>
      </div>
    </div>

<!-- 비밀번호 모달 -->
  <div class="modalBackground">
    <div class="passwordModal" id="passwordModal">
      <div class="password-modal-content" id="passwordModalContent">
        <span class="passwordModalClose">&times;</span>
        <h2>비밀번호 확인</h2>
        <input type="password" id="passwordInput" placeholder="비밀번호 입력">
        <button type=button class="password-btn-submit">확인</button>
      </div>
    </div>
  </div>>


</body>

<script src="/js/diary-list.js"></script>
<!--<script src="/js/couple_modal.js"></script>-->
<!-- JSON 형태로 diaryList 데이터를 페이지에 삽입 -->
<script th:inline="javascript">
  var diaryList = /*[[${diaryList}]]*/ '[]';
</script>

</html>