<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>비밀번호 확인</title>-->
<!--  <link rel="stylesheet" href="/css/modal.css">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; 모달 &ndash;&gt;-->
<!--<div id="passwordModal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close" onclick="closePasswordModal()">&times;</span>-->
<!--    <h2>비밀번호 확인</h2>-->
<!--    <form id="passwordForm" onsubmit="submitPassword(event)">-->
<!--      <label for="password">비밀번호</label>-->
<!--      <input type="password" id="password" name="password" required>-->
<!--      <button type="submit" class="btn-submit">확인</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--<script src="/js/modal.js"></script>-->
<!--</body>-->
<!--</html>-->