<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보 게시판</title>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbarFragment"></div>
<div class="container">
  <aside class="sidebar">
    <ul>
      <li><a href="/users/profile">정보 수정</a></li>
      <li><a href="/diarys">내가 작성한 일기</a></li>
      <li><a href="/profile/delete-account">회원 탈퇴</a></li>
    </ul>
  </aside>
  <main class="main-content">
    <div class="profile-form">
      <h1>내 정보 수정</h1>
      <form action="/profile/update" method="post">
        <div class="form-group">
          <label for="profile_image"></label>
          <div class="profile-image-container">
            <!-- user.uploadImageName가 null일 경우 기본 이미지 사용 -->
            <img id="profile_image" th:src="${user.uploadImageName != null ? '/thumbnails/' + user.uploadImageName : '/images/default_user_img.png'}">
            <input type="file" id="profileImageInput" name="profileImage" accept="image/*">
            <div class="button-container">
              <button type="button" id="profileImageEditBtn">이미지 수정</button>
              <button type="button" th:if="${user.uploadImageName != null}"
                      id="profileImageRemoveBtn">이미지 삭제
              </button>
              <input type="hidden" id="profileImageName" th:value="${user.uploadImageName}"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">이메일</label>
          <input type="email" id="email" name="email" th:value="${user.email}" readonly>
        </div>
        <div class="form-group nickname-group">
          <label for="nickName">닉네임</label>
          <div class="nickname-container">
            <input type="text" id="nickName" name="nickName" th:placeholder="${user.nickName}">
            <button id="nickName_edit_btn" type="button" class="nickname-edit-btn">수정</button>
          </div>
        </div>
        <div class="form-group couple-group">
          <label for="nickName">커플 정보</label>
          <div class="couple-container">
            <input type="text" id="couple" name="couple"
                   th:placeholder="${user?.myCoupleNickName == null} ? '커플 상태가 아닙니다.' : ${user?.myCoupleNickName}" readonly>
            <button th:if="${user?.myCoupleNickName == null}" id="couple_enrol_btn" type="button" class="couple_enrol_btn">연결</button>
            <button th:if="${user?.myCoupleNickName != null}" id="couple_delete_btn" type="button" class="couple_delete_btn">끊기</button>
          </div>
        </div>
        <div class="form-group">
          <label for="age">나이</label>
          <input type="text" id="age" name="age" th:value="${user.age}" readonly>
        </div>
        <div class="form-group">
          <label for="current_password">현재 비밀번호</label>
          <input type="password" id="current_password" name="current_password"
                 placeholder="현재 비밀번호를 입력해주세요.">
        </div>
        <div class="form-group">
          <label for="new_password">새 비밀번호</label>
          <input type="password" id="new_password" name="new_password"
                 placeholder="새 비밀번호를 입력해주세요.">
        </div>
        <div class="form-group">
          <label for="confirm_password">새 비밀번호 확인</label>
          <input type="password" id="confirm_password" name="confirm_password"
                 placeholder="새 비밀번호를 한 번 더 입력해주세요.">
        </div>
        <div class="form-buttons">
          <button type="submit" class="btn-submit" id="update_btn">수정</button>
          <button type="button" class="btn-cancel" onclick="window.location.href='/'">취소
          </button>
        </div>
      </form>
      <button class="delete-account-btn">계정 삭제</button>
    </div>
  </main>
</div>

<!-- modal -->
<div>
  <div id="passwordModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>비밀번호 확인</h2>
      <input type="password" id="modal_password" name="modal_password" required>
      <button id="password_check_btn">확인</button>
    </div>
  </div>
</div>

<!-- 이미지 업로드 -->
<div>
<div id="imageModal" class="image-modal">
  <div class="modal-content">
    <span class="image-close">&times;</span>
    <h2>이미지 업로드</h2>
    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
    <label for="modalProfileImageInput">파일찾기</label>
    <input type="file" id="modalProfileImageInput" name="modalProfileImage" accept="image/*">
    <button id="modalUploadBtn" type="button" class="modal_btn_submit">수정</button>
  </div>
</div>
</div>

<div>
  <!-- 연인 등록 모달 -->
  <div id="inviteModal" class="inviteModal">
    <!-- 초대 링크 -->
    <div class="invite-modal-content">
      <span class="closeInviteModal">&times;</span>
      <h2>연인을 등록해보세요!</h2>
      <p>
        등록 코드를 복사하여 상대방에게 전달하세요!
        <br> 코드는 한 시간 후에 만료됩니다.
      </p>
      <input type="text" id="create-inviteLink" readonly>
      <button id="copyBtn">복사</button>

      <div class="couple-create-content">
        <p>전달받은 코드를 등록하세요!</p>
        <input type="text" id="enroll-inviteLink">
        <button id="enrollBtn">등록</button>
      </div>
    </div>
  </div>
</div>

</body>
<script src="/js/profile.js"></script>
<script src="/js/modal.js"></script>
</html>